<!DOCTYPE>
<html>
  <head>
    <title>ACME: Sequelize Project</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class='container'>
        <h1>{{title}}</h1>
        <ul class='nav nav-tabs' style='margin-bottom: 10px 0'>
          <li class='nav-item'>
            <a href='/' class='nav-link{% if path==='/'%} active{%endif%}'>
              Home
            </a>
          </li>
          <li class='nav-item'>
            <a href='/users' class='nav-link{% if path==='/users'%} active{%endif%}'>
              Users 
            </a>
          </li>
        </ul>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>